body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#container {
  display: flex;
  align-items: flex-start;
}

#image-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2열로 배치 */
  gap: 10px;
  margin-right: 20px;
}

.preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #a6d0a6;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}

#game-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#next-stella-preview {
  margin-bottom: 10px;
  text-align: center;
}

#game-board {
  width: 600px; /* 게임판 너비 확대 */
  height: 1000px; /* 게임판 높이 확대 */
  background-color: #ffffff;
  border: 5px solid #a6d0a6;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#score {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.game-over {
  font-size: 36px;
  color: red;
  font-weight: bold;
  text-align: center;
}
